@model IEnumerable<PHAMANHAO_TEST2.Models.Giophim>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.malich)</th>
        <th>@Html.DisplayNameFor(model => model.ma)</th>
        <th>@Html.DisplayNameFor(model => model.gia)</th>
        <th>@Html.DisplayNameFor(model => model.isoLuong)</th>
        <th>@Html.DisplayNameFor(model => model.dthanhtien)</th>
        <th></th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.malich)</td>
            <td>@Html.DisplayFor(modelItem => item.ma)</td>

            @using (Html.BeginForm("CapnhatGioHang", "GioPhim", new { @malich = item.malich }))
            {
                <td>@String.Format("{0:0,0}", item.gia) VNĐ </td>
                <td><input type="number" min="1" name="txtSoLg" value="@item.isoLuong" /></td>

                <td>@Html.DisplayFor(modelItem => item.dthanhtien)</td>
                <td>
                    @Html.ActionLink("Xóa", "XoaGiohang", new { @malich = item.malich })
                </td>
                <td> <input type="submit" value="Cập nhật" class="btn btn-success" /></td>
            }
        </tr>

    }
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2">Số loai vé: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2">Số lượng vé: @ViewBag.Tongsoluong</td>
        <td colspan="2">Tổng tiền @String.Format("{0:0,0}", ViewBag.Tongtien)VNĐ</td>

    </tr>
    <tr style="font-weight:bold; color:blue;text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color:yellow;text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioPhim")
        </td>
    </tr>
</table>